*{
	padding:0;
	margin:0;
}
ul,li{
	list-style: none;
}
body{
	border-left:2px solid black;
	border-right:2px solid black;
}
.container{
	width:100%;
	background-color:#ccc;
}
#top{
	margin-left:200px;
	height:20px;
	width:1100px;
}
#img1{
	margin-bottom:3px;
}
marquee{
	color:red;
	display:inline-block;
	line-height:20px;
	
}
.banner{
	width:1200px;
	height:400px;
	margin:10px auto;
	position:relative;
	overflow:hidden;
}
.slider{
	width:8400px;
	position:absolute;
	left:-1200px;
}
.slide{
	width:1200px;
	overflow:hidden;
	float:left;
}
.banner>span{
	display:block;
	width:30px;
	height:50px;
	text-align: center;
	cursor:pointer;
	color:yellow;
	top:175px;
	line-height: 50px;
	background:rgb(255,0,0);
	font-size: 30px;
	position:absolute;
	opacity:0;
}
#left{
	left:30px;
}
#right{
	right:30px;
}
.nav{
	position: absolute;
	left:500px;
	bottom:20px;
}
.nav>li{
	float:left;
	width:20px;
	height:20px;
	background:#ccc;
	cursor:pointer;
	margin:0 10px;
	border-radius:50%;
	text-align: center;
}
.nav .active{
	background:red;
}